@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #003220;
  --border: #e5e7eb;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter: var(--font-inter);
  --color-border: var(--border);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}

@layer base {
  *,
  ::after,
  ::before {
    border-color: var(--border);
  }
}
